@use "@scss/variables";
@use "@scss/common";
@use "@scss/mixins/button";
@use "@scss/mixins/drop-shadow";

.buttonContainer {
  display: flex;
  gap: variables.$margin-default;
  justify-content: center;
}

.button {
  @include button.reset;
  @include drop-shadow.border(1px, white);
  transition: transform .2s ease-in-out;

  &:hover, &:focus, &:active {
    transform: rotate(-3deg);
    @include drop-shadow.border(1px, var(--accent-color));
  }

  img {
    width: clamp(120px, 25vw, 300px);
    max-width: initial;
  }
}

.osDefault {
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
  @extend .link;

}
