@use "@scss/variables";
.wrapper {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: variables.$margin-default;
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  height: 50px;
  border-top: 2px solid var(--footer-border-color);
}

