.teaser-list {
  display: grid;
  gap: clamp(20px, 4vw, 45px);
  grid-template-columns: 1fr;
}

.link {
  color: var(--link-color);
  text-decoration: none;
  border-bottom: 1px solid var(--accent-color);
  transition: transform var(--transition-duration) ease-in-out;

  &:hover,
  &:focus,
  &:active {
    color: var(--accent-color);
    cursor: var(--cursor-pointer);
    text-decoration: none;
    transform: rotate(-3deg);
  }
}

html {
  &.is-offline {
    filter: grayscale(0.7);
  }
}
.offline-badge {
  background-color: var(--red);
  color: var(--white-dark);
  font-size: 10px;
  padding-block: 3px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
