.navbar {
  position: sticky;
  top: 0;
  z-index: 1;

  img {
    opacity: 0;
    transition: opacity var(--navbar-transition-duration) ease-in-out;
  }

  &:global(.is-visible) {
    img {
      opacity: 1;
    }
  }
}
