@use "@scss/variables";

.contentWrapper {
  display: grid;
  gap: 3vw;
  grid-template-areas:
          "content"
          "metadata";
  @media(min-width: variables.$container-md-min) {
    grid-template-areas: "content metadata";
    grid-template-columns: 3fr 1fr;
  }
}

.metadata {
  grid-area: metadata;
}

.content {
  grid-area: content;

  & > h1:first-child {
    margin-top: 0;
  }
}
